/Makefile
/Makefile.in
/*.tlog
/CloseNoInit
/CloseNULLLog
/CloseNULLError
/ClosePass
/InitNULLDir
/InitNULLError
/InitNULLLog
/InitNULLSession
/InitPass
/LogNoInit
/LogNULLError
/LogNULLLog
/LogPass
/LogFileTest
/Debug
/Release
