/AddNullApiSession
/AddNullContext
/AddNullProcess
/AddNullSession
/AddPass
/FiniNullContext
/FiniNullProcess
/FiniPass
/GetFirstNullContext
/GetFirstNullProcess
/GetFirstNullSession
/GetFirstPass
/GetNextNullContext
/GetNextNullCurrent
/GetNextNullNext
/GetNextNullProcess
/GetNextPass
/InitNullContext
/InitNullProcess
/InitPass
/InitZeroPid
/Makefile
/Makefile.in
/RemoveNullContext
/RemoveNullProcess
/RemoveNullSession
/RemovePass
/Release
