/Makefile
/Makefile.in
/BackStatusInvalidSig
/BackStatusMemNull
/BackStatusNameEmpty
/BackStatusPass
/BackStatusStatusNull
/CloseNullError
/CloseInvalidSig
/CloseMemNull
/ClosePass
/CreateBackNullError
/CreateBackInvalidSig
/CreateBackInvLength
/CreateBackMemNull
/CreateBackNameEmpty
/CreateBackPass
/CreateBackPerm0000
/CreateBackPerm0200
/CreateBackPerm0400
/CreateBackPerm0500
/FiniInvalidSig
/FiniNullMem
/FiniPass
/InitLengthPositive
/InitMemNull
/InitNameEmpty
/InitNameNull
/InitPass
/OpenAddrNull
/OpenNullError
/OpenInvalidLength
/OpenInvalidSig
/OpenMemNull
/OpenNameEmpty
/OpenPass
/ReadOnlyNullError
/ReadOnlyInvalidBaseAddr
/ReadOnlyInvalidSig
/ReadOnlyMemNull
/ReadOnlyPass
/ReadOnlyTryWrite
/ReadWriteNullError
/ReadWriteInvalidSig
/ReadWriteInvBaseAddr
/ReadWriteMemNull
/ReadWritePass
/SynchNullError
/SynchInvalidBaseAddr
/SynchInvalidSig
/SynchMemNull
/SynchPass
/Tests
/Release
/Debug
/MemFile.mem
