/Makefile
/Makefile.in
/Debug2005
/Release2005
/AddHandlerNullDef
/AddHandlerNullHandler
/AddHandlerNullName
/AddHandlerPass
/AnyErrorPass
/AnyErrorNullError
/ChainErrorNullDef
/ChainErrorNullHandler
/ChainErrorInvalidSig
/ChainErrorNoSetError
/ChainErrorTooMany
/ChainErrorPass
/FiniInvalidSig
/FiniNullError
/FiniPass
/GetErrorInvalidSig
/GetErrorNullError
/GetErrorNullMsg
/GetErrorZeroLength
/GetLengthNullError
/GetLengthPass
/GetLastNullError
/GetLastPass
/InitNoInitDefs
/InitNullError
/InitPass
/SetErrorInvalidSig
/SetErrorInvalidValue
/SetErrorNullError
/Tests

