/Makefile
/Makefile.in
/Debug2005
/Release2005
/*.tlog
/CloseNoInit
/CloseNULLLog
/CloseNULLError
/ClosePass
/InitNULLDir
/InitNULLError
/InitNULLLog
/InitNULLSession
/InitPass
/LogNoInit
/LogNULLError
/LogNULLLog
/LogPass
/LogFileTest
