/Makefile
/Makefile.in
/CloseInvalidSig
/CloseNullDir
/ClosePass
/FiniInvalidSig
/FiniNullDir
/FiniPass
/GetNextInvalidSig
/GetNextNoOpen
/GetNextNoSuchDir
/GetNextNullDir
/GetNextNullError
/GetNextNullpDir
/GetNextPass
/InitNullDir
/InitPass
/OpenCallTwice
/OpenInvalidSig
/OpenNoInit
/OpenNoSuchDir
/OpenNullDir
/OpenNullDirname
/OpenNullError
/OpenPass
/Tests
/Debug
/Release
